* {text-align: center;color: darkred; }
body {border-style: solid;color: black;}
h1 {background-color:darkred;color:white}
p {color: black;font-family: "Lucida Console"; font-size: 40px}
h2 {background-color:darkred;color:darkred}